body {
    margin:0;
    padding:0;
    font-family: Arial, serif;
}

ul {
    background-color: whitesmoke;
}

#header {
    height: 3em;
    line-height:3em;
    text-align: center;
    background-color: whitesmoke;
}

#spinner {
    float:left;
    margin: 0.5em;
    position: fixed;
}

#monkalot {
    color: deeppink;
    font-weight: bold;
}

#login {
    float:right;
}

#user {
    font-weight: bold;
    padding-right: 2em;
}

#logout {
    color: white;
    background-color: rebeccapurple;
    float: right;
    cursor:pointer;
    width: 5em;

    display: inline-block;
    line-height:3em;
    text-align:center;

    /* Make text non selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logout:hover {
    background-color: #463399;
}

#bots {
    width: 100%;
    font-size:medium;
}

#save {
    width: 100%;
    border: 1px solid black;
    font-size: medium;
    cursor: pointer;
    padding: 10px;
}

#save:enabled.red {
    background-color: #C87461;
    cursor: pointer;
}

#save:disabled.green {
    background-color: #5AC74F;
    cursor: default;
}

#save:hover:enabled.red {
    background-color: #E87461;
}

#save:disabled, #reset:disabled, #pause:disabled {
    background-color: darkgray;
    cursor: default;
}

#pause, #reset {
    width: 50%;
    border: 0.1em solid black;
    font-size: medium;
    cursor:pointer;
    padding: 5px;
}

#reset:hover:enabled, #pause:hover:enabled {
    background-color: lightgray;
}

ul.navBar, #files {
    position:fixed;
    left:0;
    width:160px;
    list-style-type:none;
    margin:0;
    padding:5px;
    z-index:1;
}

.navButton {
    display:block;
    padding:4px;
    margin-right:2px;
    width:95%;
    cursor:pointer;

    /* Make text non selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navButton:hover {
    background-color: lightpink;
}

#selectedNavButton {
    background-color: lightpink;
}

#content-wrap {
    margin: 10px 20px 50px 200px;
    width:70%;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}